body{
    padding-top: 240px;
    margin: 0 auto;
    background-color: azure;
    justify-content: center;
    align-content: center;
}

.envellop{
    position: relative;
    width: 500px;
    height: 200px;
    background-color:rgb(156, 183, 207);
    border-color: solid black;
    border-radius: 0 0 10px 10px;
    margin: 0 auto;
}

.up{
    margin: 0 auto;
    width: 300px;
    height: 0px;
    border-style: solid;
    opacity: 100%;
    border-width: 0 100px 150px 100px; /*up, right, bottom*/
    border-color: rgb(156, 183, 207) transparent;
    transform: rotate(0deg);
    animation: revealUp 7s;
}
.down{
    position: absolute;
    margin: 0 auto;
    width: 300px;
    height: 0px;
    border-style: solid;
    border-top-width: 150px;
    border-right-width: 100px;
    border-bottom-width: 0;
    border-left-width: 100px;
    border-color: rgb(232, 178, 178) transparent;
    transform: rotate(0deg);
    animation: revealDown 5s;
}
.paper{
    position: absolute;
    background-color:rgb(16, 16, 16);
    width: 400px;
    height: 200px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    opacity: 0;
    transform: translateY(0);
    transition: transform 5s, opacity 4s;
}

.heart{
    background-color: rgb(16, 16, 16);;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
}

.heart-left{
    background-color: red;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    rotate: 45deg;
}
.heart-right{
    background-color: red;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    rotate: -45deg;
    transform: translate(-30px, -35px)
}

.heart-bottom{
    background-color: red;
    width: 50px;
    height: 50px;
    margin-top: 100px;
    rotate: 45deg;
    display: inline-block;
    transform: translateY(35px);
}

.paper:hover{
    transform: translateY(-120px);
    opacity: 100%
}

@keyframes revealUp {
    0%{
        opacity: 0;

    }
    100%{
        opacity: 100%;
    }
}

@keyframes revealDown {
    0%{
        opacity: 100%;
        border-color: rgb(94, 154, 206) transparent;
    }
    100%{
        opacity: 100%;
    }
}